extends layout

block title
  title Home | Click Guild

block content
  h1 Welcome to Click Guild!
  div
    button#find-quest Find
    | a Quest
    
  div 
    | Join Quest:
    input#quest
    button#quest-choose Join
  p#quest-info
  p#quest-code
  button#clicker click me!
  p#count 
