extends layout

block title
  title Home | Click Guild

block content
  h1 Welcome to Click Guild!
  p Find a Quest
  div
    button#find-quest Find
  p Join a quest!
  div 
    input#quest
    button#quest-choose Join
  #clicker
    p click me!
    p#count 
