extends layout

block title
  title Home | Click Guild

block content
  include partials/quest.pug
  h1 Welcome to Click Guild!
  div
    button#find-quest Find
    | a Quest

  div#quests
    each quest in quests
      +quest(quest)

  div
    | Join Quest:
    input#quest
    button#quest-choose Join
  
  hr
  
  p#quest-info
  p#quest-code
  button#clicker click me!
  p#count 
  progress(value="0", max="100")#progress
