doctype html
html
  head
    block title
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  body
    //- navbar
    ul
      li
        a(href="signup") sign up
      li
        a(href="login") login
    
    block content
