doctype html
html
  head
    block title
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="/static/index.js")
  body
    //- navbar
    ul
      li
        a(href="signup") sign up
      li
        a(href="login") login
    
    block content
