extends layout

block title
  title Sign Up | Click Guild

block content
  h1 Sign Up
  form(method="POST")
    div
      input(type="test" name="email" placeholder="email")
    div
      input(type="text" name="username" placeholder="username")
    div
      input(type="password" name="password" placeholder="password")
    div
      input(type="submit" value="Sign Up")
  div #{error}
